<div id="<%= dom_id task %>">
  <p>
    <strong>Name:</strong>
    <%= task.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= task.description %>
  </p>

  <p>
    <strong>Delivery date:</strong>
    <%= task.delivery_date %>
  </p>

  <p>
    <strong>Delivered to:</strong>
    <%= task.delivered_to %>
  </p>

</div>
